@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.main {
  margin: 2vw;
  margin-top: 5vh;
  position: relative;
  max-width: 20vw;
  max-height: 20vh;
  height: 20vh;
  width: fit-content;
  min-width: 60vw;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 4vw;
}

.img {
  z-index: 0;
  order: 5;
  flex-shrink: 1;
  position: absolute;
  max-width: 135vw;
  object-fit: contain;
}
.overlay-container {
  z-index: 10;
  order: 2;
  display: flex;
  flex-direction: column;
  /* width: 20rem; */
  width: inherit;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  opacity: 1;
}
.overlay-container:hover {
}
.menu {
  order: 0;
  margin: 0.5rem 0rem 0.5rem 0;
  flex-grow: 1;
  display: flex;
  width: 100%;
  width: fit-content;
  min-width: 55vw;
  justify-content: space-between;
  /* min-width: fit-content; */
  height: fit-content;
  /* background-color: aqua; */
}

.btn-close {
  align-self: start;
  z-index: 10;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  border-style: none;

  align-self: center;
  background-color: white;
}
.btn-close:hover {
  width: 1.5rem;
  height: 1.5rem;
}
.weather {
  order: 3;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  height: 2rem;
  /* background-color: blue; */
  align-self: center;
}
.weather-icon {
  margin-top: 0.2rem;
  font-size: 1.85rem;
  display: flex;
  align-self: end;
  justify-items: space-between;
  /* background-color: rgb(98, 161, 26); */
}
.loc-temp {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  /* background-color: rgb(243, 104, 104); */
}
.search {
  order: 4;
  display: flex;
  flex-direction: column;
}
.location-dot {
  order: 6;
  font-size: 1.9rem;
  align-self: center;
}
.sub-menu {
  display: flex;
  flex-direction: row;
}
.location_input {
  z-index: 0;
  order: 5;
  margin: 0rem 0 2rem 13.2rem;
  display: flex;
  /* flex-direction: row; */
  /* align-self: end;
  justify-self: end; */
  padding: 0.5rem;
  width: 6.2rem;
  height: 1.5rem;
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  border-style: none;
  color: white;
  background-color: rgba(51, 51, 51, 0.164);
  border-radius: 5px;
  font-size: 0.8rem;
  /* background-color: aqua; */
}
.btn-forecast {
  display: flex;
  flex-direction: column;
  position: abo;
  margin-bottom: 1rem;

  text-align: center;
  vertical-align: middle;
  width: fit-content;
  justify-content: center;
  /* padding: 0.5rem; */
  width: 6.2rem;
  height: 1.5rem;
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  border-style: none;
  color: white;
  background-color: rgba(51, 51, 51, 0.164);
  border-radius: 5px;
  font-size: 0.8rem;
  /* background-color: aqua; */
}

.text-layer {
  white-space: pre-wrap;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: rgba(51, 51, 51, 0.15);
  padding: 1rem 0rem 3rem 3rem;
  border-radius: 1rem;
}
.day {
  font-size: 1rem;
  text-align: left;
}
.header-text {
  order: 0;
  text-align: left;
  z-index: 10;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.flex {
  display: flex;
}

.temp {
  z-index: 10;

  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
}

.block-left {
  z-index: 10;
  color: whitesmoke;
  text-align: left;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
}
.block-right {
  z-index: 10;
  margin-left: 1rem;
  color: whitesmoke;
  text-align: left;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
}
.humidity,
.sunrise-sunset {
  z-index: 10;
  color: whitesmoke;
  text-align: left;
  font-family: "Recursive", sans-serif;
  font-size: 1rem;
}

.flex-forecast {
  /* position: absolute; */
  display: flex;
  list-style: none;
  text-align: left;
  flex-direction: row;
  min-height: 20vh;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.589);
}
