body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
    farthest-corner at 800px 52px,
    #12325c 24%,
    #0a0a13 44%
  );
}

pre {
  font-size: 7em;
}

.marks .land {
  fill: #3b362c;
}

.marks .interiors {
  fill: none;
  stroke: #6c838e;
}

.marks .sphere {
  opacity: 0.4;
  fill: #0d2835ab;
}

.marks .graticules {
  fill: none;
  stroke: #4846444f;
}
circle {
  fill: #ffd700;
  opacity: 0.3;
}
