@import url("https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Nova Slim", cursive;
}
.App {
  text-align: center;
}
.App-header {
  height: 20vh;
}
.App-logo {
  display: flex;
  max-width: 12vw;
  max-height: 12vh;
  align-items: end;
  justify-content: end;
  margin: auto;
}
